.box {
    $bgcolor: color(black);
    @include padding(2, 2, 3);
    @include margin-bottom(2);

    &:not(.transparent) {
        background: $bgcolor;
        background: linear-gradient(90deg, rgba($bgcolor,0.44) 0%, rgba($bgcolor,0.77) 50%, rgba($bgcolor,0.44) 100%);
    }
    font-weight: 400;

    .box {
        @include margin-bottom(1);
        background-color: transparent;
    }

    h1,
    h2,
    h3 {
        @include margin(0);
    }

    p,
    blockquote {
        @include font($weight: 400, $size: map-get($text-size, medium), $height: 1.5);
    }

    p {
        white-space: pre-wrap;

        a {
            font-weight: bold;
        }
    }
}

.boxes {
    @include flex($direction: row, $justify: space-between, $wrap: wrap);
    @include mobile-only() {
        &.boxes-2 {
            flex-direction: column;
        }
    }

    >.box {
        @include flex($direction: column, $align: stretch, $justify: stretch);
        @include padding(2, 0, 0);

        flex-grow: 1;
        width: 100%;

        @include mobile-only() {
            width: 100%;
        }

        > div {
            @include flex($direction: column, $align: stretch, $justify: space-between);

            flex-grow: 1;

            >p,
            >.boxes {
                flex-grow: 1;
                flex-shrink: 1;

                &:last-child {
                    flex-grow: 0;
                }
            }

            > :last-child:not(.flex-split) {
                @include padding-bottom(3);
                @include mobile-only {
                    &.source {
                        @include padding-bottom(2);
                    }
                }
            }
            .flex-split {
                align-items: stretch;
                div, p {
                    @include padding-bottom(5);
                    @include padding-top(3);
                    @include margin-bottom(0);
                    &:last-child {
                        background-color: rgba(color(black), .5);
                    }
                }
            }
        }

        iframe,
        .image {
            @include margin(0);
            width: 100%;
        }
        iframe {
            height: 400px;
        }

        .image {
            position: relative;
            display: block;
            overflow: hidden;

            height: 400px;

            img {
                @include position-absolute($top: 50%, $left: 50%);

                max-width: 120%;
                min-width: 100%;
                min-height: 100%;

                transform: translate(-50%, -50%);
                transition: max-width .3s ease-in-out;
            }

            &:hover {
                img {
                    max-width: 115%;
                }
            }

            @include mobile-only() {
                max-height: 250px;

                img {
                    max-height: 400px;
                }
            }
        }

        h2,
        .testimonial,
        p,
        .links {
            @include margin(0, 2, 3);

            &:last-child {
                @include margin-bottom(0);
            }
        }
        .embed {
            @include margin-bottom(2);
        }

        .links {
            @include margin-x(0);

            .links-title {
                @include margin-left(3);
            }
            &.releases {
                @include margin-top(2);
                .links-title {
                    @include margin-bottom(0);
                }
            }
            &:not(.buttons) a {
                @include margin(0);
                @include mobile-only {
                    @include margin-left(3);
                }
            }
        }

        h2 {
            position: relative;

            .date {
                @include position-absolute($top: 50%, $right: 0);
                @include font($size: map-get($text-size, small), $weight: 400);

                transform: translateY(-50%);
            }
        }

        .tracks,
        .videos {
            h3 {
                @include margin-left(2);
            }
            &.videos {
                h3 {
                    @include margin-top(3);
                }
            }
            &.tracks {
                @include padding-bottom(4);
                @include padding-right(2);
            }

            ol,
            ul {
                @include padding(0);
                @include margin(1, 0, 0, 2);

                li {
                    @include margin-bottom(1);
                    @include font($size: map-get($text-size, medium), $weight: 400);
                    list-style-position: inside;
                }
            }
            .video-list {
                @include flex($direction: row, $justify: flex-start, $align: center, $wrap: wrap);
                @include margin-x(2);
                @include margin-top(2);

                a {
                    @include flex($inline: true, $direction: column, $justify: center, $align: center);
                    @include padding(2);
                    @include margin-bottom(2);
                    position: relative;
                    width: 24%;
                    background-color: rgba(color(black), .5);
                    margin-right: 2%;

                    @include mobile-only {
                        width: 48%;
                        margin-right: 0;
                        &:nth-child(odd) {
                            margin-right: 2%;
                        }
                    }

                    img {
                        @include margin(0, 0, 1);
                        display: block;
                        max-width: 100%;
                    }
                    .fa {
                        @include margin-top(-2);
                        transition: opacity .2s;
                        transform: translate(-50%, -50%);
                        position: absolute;
                        display: block;
                        top: 50%;
                        left: 50%;
                        opacity: 0;
                    }
                    &:hover {
                        transform: translateY(-1px);
                        background-color: rgba(color(black), .7);
                        color: color(white);
                        .fa {
                            opacity: 1;
                        }
                    }
                }
            }
        }

        p {
            white-space: pre-wrap;
        }

        .box {
            @include padding-bottom(0);
            background: transparent;

            h2,
            .testimonial,
            p,
            .buttons,
            .boxes {
                @include margin-x(0);
            }
        }

        .buttons,
        .boxes {
            @include padding(1, 2, 3);

            width: 100%;
            background: rgba(color(black), .2);

            &+.boxes {
                background: transparent;
            }
            &.buttons {
                @include padding-bottom(2);
                @include padding-top(3);
                @include margin-bottom(0);
                justify-content: center;
            }
        }
        @include mobile-only {
            .boxes {
                @include padding-bottom(0);
            }
        }

        p {
            font-size: map-get($text-size, small);
        }

        .testimonial {
            @include padding-left(8);

            position: relative;

            &:before {
                @include position-absolute($top: -5px, $left: 10px);
                @include font($size: map-get($text-size, xx-large), $align: left, $height: 1);

                content: '\00bb';

                display: block;
                width: 15px;
                height: 40px;
            }

            blockquote {
                @include margin(0);
                @include padding(0);
                @include font($size: map-get($text-size, medium), $weight: 400, $style: italic);

                display: block;

                &+.source {
                    @include margin-left(0);
                    @include margin-top(.5);

                    display: block;

                    font-size: map-get($text-size, small);

                    &:before {
                        content: '\2014';
                    }
                }
            }
        }

        p {
            @include font($size: map-get($text-size, medium), $height: 1.5);
        }
    }

    &.boxes-1>.box {
        width: 100%;

        .testimonial {
            @include margin-bottom(0);
        }
    }
    &.boxes-2>.box {
        width: 49%;

        @include mobile-only() {
            width: 100%;
        }
    }

    &.boxes-3>.box {
        width: 32%;

        @include mobile-only() {
            width: 100%;
        }
    }
}