$box-image-max-height: size(50);

.box {
    $bgcolor: color(black);
    @include padding(2, 2, 3);
    @include margin-bottom(2);

    &:not(.transparent) {
        background: $bgcolor;
        background: linear-gradient(90deg, color-black(transparent) 0%, color-black(semi-opaque) 50%, color-black(transparent) 100%);
    }
    font-weight: 400;

    .box {
        @include margin-bottom(1);
        background-color: transparent;
    }

    h1,
    h2,
    h3 {
        @include margin(0);
    }

    p,
    blockquote {
        @include font($weight: 400, $size: text-size(medium), $height: 1.5);
    }

    p {
        white-space: pre-wrap;

        a {
            font-weight: bold;
        }
    }
}

.boxes {
    @include flex($direction: row, $justify: space-between, $wrap: wrap);
    @include mobile-only() {
        &.boxes-2 {
            flex-direction: column;
        }
    }

    >.box {
        @include flex($direction: column, $align: stretch, $justify: stretch);
        @include padding(2, 0, 0);
        flex: 0 0 100%;
        max-width: 100%;

        @include mobile-only() {
            width: 100%;
        }

        > div {
            @include flex($direction: column, $align: stretch, $justify: space-between);

            flex-grow: 1;

            >p,
            >.boxes {
                flex-grow: 1;
                flex-shrink: 1;

                &:last-child {
                    flex-grow: 0;
                }
            }

            &:not(.testimonial) > :last-child:not(.flex-split) {
                @include padding-bottom(3);
                @include mobile-only {
                    &.source {
                        @include padding-bottom(2);
                    }
                }
            }
            .flex-split {
                align-items: stretch;
                div, p {
                    @include padding-bottom(5);
                    @include padding-top(3);
                    @include margin-bottom(0);
                    &:last-child {
                        background-color: color-black(transparent);
                    }
                }
            }
        }

        
        h2,
        .testimonial,
        p,
        .links {
            @include margin(0, 2, 3);

            &:last-child {
                @include margin-bottom(0);
            }
        }

        iframe,
        .image {
            @include margin(0);
            width: 100%;
            height: $box-image-max-height;
        }
        .image {
            position: relative;
        }
        &.facebook, &.instagram {
            h2 {
                @include margin-y(1);
            }
            > div {
                justify-content: flex-start;
            }
            .image {
                height: auto;
                img {
                    max-width: 100%;
                    min-width: 100%;
                }
                .fa {
                    @include transition($speed: fast);
                    @include position-absolute-centered($width: 100%, $height: 100%);
                    @include flex($justify: center, $align: center);
                    background-color: color-black(transparent);
                    font-size: text-size(large);
                    opacity: 0;
                }
                &:hover {
                    .fa {
                        opacity: 1;
                        font-size: text-size(xx-large);
                    }
                }
            }
        }
        &:not(.facebook):not(.instagram) {
            .image {
                overflow: hidden;
                position: relative;
                display: block;
                height: $box-image-max-height;
    
                img {
                    @include position-absolute-centered();
                    @include transition($element: max-width, $speed: medium);
                    max-width: 105%;
                    min-width: 100%;
                }    
                &:hover {
                    img {
                        max-width: 115%;
                    }
                }    
            }
        }

        .embed {
            @include margin-bottom(2);
        }

        .links {
            @include margin-x(0);

            .links-title {
                @include margin-left(3);
            }
            &.releases {
                @include margin-top(2);
                .links-title {
                    @include margin-bottom(0);
                }
                a {
                    & + a {
                        @include margin-left(2);
                    }
                    &:hover {
                        transform: translateY(-$border-width-min);
                    }    
                }
            }
            &:not(.buttons) a {
                @include margin(0);
                @include mobile-only {
                    @include margin-left(3);
                }
            }
            @include mobile-only {
                &.releases a {
                    @include margin-top(1);
                }
            }
        }

        h2 {
            position: relative;

            .date {
                @include position-absolute($top: 50%, $right: 0);
                @include font($size: text-size(small), $weight: 400);

                transform: translateY(-50%);
            }
        }
        .sidebar-container {
            @include desktop-only {
                @include flex($direction: row, $justify: space-between);
                & >  {
                    p, div {
                        @include padding-top(2);
                        &:first-child {
                            width: 64%;
                        }
                        &:last-child {
                            font-size: text-size(small);
                            width: 32%;
                        }
                    }
                }    
            }
        }
        .description, .tracks {
            @include padding-y(2);
        }
        .tracks,
        .videos {
            h3 {
                @include margin-left(2);
            }
            &.videos {
                h3 {
                    @include margin-top(3);
                }
            }
            &.tracks {
                @include padding-right(2);
                background-color: color-black(transparent);
            }

            ol,
            ul {
                @include padding(0);
                @include margin(1, 0, 0, 2);

                li {
                    @include margin-bottom(1);
                    @include font($size: text-size(small), $weight: 400);
                    list-style-position: inside;
                }
            }
            .video-list {
                @include flex($direction: row, $justify: flex-start, $align: stretch, $wrap: wrap);
                @include margin-x(2);
                @include margin-top(2);

                a {
                    @include flex($inline: true, $direction: column, $justify: center, $align: center);
                    @include padding(2);
                    @include margin-bottom(2);
                    position: relative;
                    width: 23%;
                    background-color: color-black(transparent);
                    margin-right: 2%;

                    @include mobile-only {
                        width: 48%;
                        margin-right: 0;
                        &:nth-child(odd) {
                            margin-right: 2%;
                        }
                    }

                    img {
                        @include margin(0, 0, 1);
                        display: block;
                        max-width: 100%;
                    }
                    .fa {
                        @include margin-top(-2);
                        @include transition($speed: fast);
                        @include position-absolute-centered();
                        display: block;
                        opacity: 0;
                    }
                    &:hover {
                        transform: translateY(-$border-width-min);
                        background-color: color-black(semi-opaque);
                        color: color(white);
                        .fa {
                            opacity: 1;
                        }
                    }
                }
            }
        }

        p {
            white-space: pre-wrap;
        }

        .box {
            @include padding-bottom(0);
            background: transparent;

            h2,
            .testimonial,
            p,
            .buttons,
            .boxes {
                @include margin-x(0);
            }
        }

        .buttons,
        .boxes {
            @include padding(1, 2, 3);

            width: 100%;
            background: color-black(very-transparent);

            &+.boxes {
                background: transparent;
            }
            &.buttons {
                @include padding-bottom(2);
                @include padding-top(3);
                @include margin-bottom(0);
                justify-content: center;
            }
        }
        @include mobile-only {
            .boxes {
                @include padding-bottom(0);
            }
        }

        p {
            font-size: text-size(small);
        }

        .testimonial {
            @include padding-left(6);
            @include padding-bottom(2);

            position: relative;

            &:before {
                @include position-absolute($top: size(-.5), $left: size(2));
                @include font($size: text-size(x-large), $align: left, $height: 1);

                content: '\00bb';

                display: block;
                width: size(1);
                height: size(2);
            }

            blockquote {
                @include margin(0);
                @include padding(0);
                @include font($size: text-size(medium), $weight: 400, $style: italic);

                display: block;

                &+.source {
                    @include margin-left(0);
                    @include margin-top(.5);

                    display: block;

                    font-size: text-size(small);

                    &:before {
                        content: '\2014';
                    }
                }
            }
        }

        p {
            @include font($size: text-size(medium), $height: 1.5);
        }
    }

    &.photos > .box {
        padding-top: 0;
    }

    &.boxes-1>.box {
        width: 100%;

        .testimonial {
            @include margin-bottom(0);
        }
    }


    &.boxes-2>.box {
        max-width: 49%;
        flex: 0 0 49%;

        @include mobile-only() {
            width: 100%;
        }
    }

    &.boxes-3>.box {
        max-width: 32%;
        flex: 0 0 32%;

        @include mobile-only() {
            width: 100%;
        }
    }
}