html,
body,
#app {
    @include padding(0);
    @include margin(0);
    @include font($font-body, $size: 20px, $weight: 400, $height: 1.2);
    @include text-shadow-default();

    background-color: transparent;

    @include mobile-only() {
        font-size: 18px;
    }
}
body {
    background: color(black);
    background-attachment: fixed;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

* {
    box-sizing: border-box;
}


.main {
    @include padding-top(6);
    min-height: 100vh;
    width: 100%;

    overflow-x: hidden;

    background-color: transparent;

    @include desktop-only {
        @include padding-top(16);
    }
}

.content,
footer,
.splash {
    @include container();
    color: color(white);
}

.content {
    >.box,
    > h1 {
        @include desktop-only {
            @include margin-top(6);
        }

        >.box-content > .links {
            @include padding-top(3);
            border-top: $border-width-min dotted color(black);
            justify-content: center;

            .links-title, a {
                font-size: text-size(small);
            }
        }
    }

    >.box {
        text-align: center;
    }
    > h1 {
        text-align: center;
    }
}

.splash {
    @include margin(4, auto, 14);
    text-align: center;

    p {
        @include margin(0, auto, 4);
        @include font($size: text-size(massive), $weight: 700, $height: 1);
        @include text-shadow-large();

        width: breakpoint(mobile);
        max-width: 100%;

        i {
            display: block;
        }
    }

    .btn {
        @include font($size: text-size(large), $weight: 500);
        background-color: color(white);
        color: color(black);
        border: none;

        text-shadow: none;

        .fa {
            font-size: text-size(larger);
        }

        &:hover {
            box-shadow: 0 0 $border-width-medium color-black(transparent);
        }
    }
    @include mobile-only() {
        p    { font-size: text-size(xx-large); }
        .btn { font-size: text-size(large); }
    }
}

footer {
    @include margin-bottom(6);
    @include padding(2, 0, 4);

    font-size: text-size(small);

    p,
    .links {
        display: block;
        text-align: center;
    }
}