#nav {
    @include padding-y(2);
    width: 100%;

    @include mobile-only {
        height: 80px;
    }

    .mobile-nav {
        display: none;

        @include mobile-only() {
            @include position-fixed($top: 0, $left: 0, $z-index: 99);
            @include font($font-body, $weight: 500, $size: map-get($text-size, medium), $transform: uppercase);
            @include flex($justify: space-between, $align: center);
            @include padding-left(2);
            background-color: rgba(color(black), .85);
            color: color(white);

            height: 80px;
            width: 100%;

            &, a.logo, .heading, .menu-button {
                transition: all .4s ease-in-out;
            }

            a.logo, a.logo > img {
                display: block;
                height: 66px;
                width: 66px;
            }    
            .heading {
                flex-grow: 1;
                text-align: center;
                text-shadow: none;
            }
            
            .menu-button {
                position: relative;
                width: 70px;
                height: 80px;
                background-color: transparent;
                border: 0;
                
                &:focus {
                    outline: none;
                }
                .icon {
                    @include position-absolute($top: 50%, $left: 50%);
                    transform: translate(-50%, -50%);
                    display: block;
    
                    &, &:before, &:after {
                        @include position-absolute();
                        transition: all .25s;
                        width: 40px;
                        height: 5px;
                        background-color: color(white);
                    }

                    &:before,
                    &:after {
                        content: '';
                        left: 0;
                    }
    
                    &:before { top: -12px; }
                    &:after { bottom: -12px; }
                }    
            }

            &.detached:not(.active) {
                height: 60px;

                background-color: transparent;
                color: transparent;

                .logo, .heading { opacity: 0; }

                .menu-button {
                    background-color: rgba(color(black), .85);
                    height: 60px;
                }
            }

            &.active {
                background-color: color(white);
                color: color(black);

                .logo > img {
                    filter: invert(1);
                }

                .icon {
                    background-color: transparent;
                    &:before,
                    &:after {
                        background-color: color(black);
                        top: 0;
                        bottom: 0;
                    }

                    &:after {
                        transform: rotate(135deg);
                    }

                    &:before {
                        transform: rotate(-135deg);
                    }
                }
            }

        }
    }

    ul {
        @include flex($direction: row, $justify: center, $align: center);
        @include margin(0);
        @include padding(0);

        max-width: 100%;
        width: 100%;
        height: 100%;

        list-style-type: none;

        li {
            width: auto;

            &+li {
                margin-left: 32px;
            }

            a {
                @include font($size: map-get($text-size, large), $weight: 700, $transform: uppercase, $decoration: none);
                @include padding(1, 0);

                color: color(white);
                display: inline-block;
                position: relative;

                &:after {
                    @include position-absolute($bottom: 0, $left: 50%);

                    content: '';

                    height: 1px;
                    width: 0%;

                    background-color: color(white);

                    transform: translateX(-50%);
                    transition: all .25s;
                }

                &:not(.home) {
                    text-shadow: 2px 2px color(black);

                    &:hover:after {
                        width: 100%;
                        height: 2px;
                    }

                    &.router-link-active:after {
                        width: 105%;
                        height: 5px;
                        box-shadow: 2px 2px color(black);
                    }
                }

                img {
                    max-height: 100px;
                    max-width: 100px;
                }
            }
        }

        @include mobile-only() {
            @include position-fixed($top: 0, $left: 0, $z-index: 2);
            @include padding(0);

            flex-direction: column;
            justify-content: flex-start;
            width: 100%;
            height: 0;
            overflow: hidden;

            background-color: color(black);
            opacity: 0;

            transition: all .3s;

            &.show {
                @include padding(4, 0);
                height: 100vh;
                bottom: 0;
                opacity: 1;
            }

            li {
                display: block;
                width: 100%;
                text-align: center;

                &:first-child {
                    @include margin-top(8);
                }

                &+li {
                    margin-left: 0;
                }

                a {
                    display: block;
                    text-shadow: none !important;

                    &:after {
                        content: none !important;
                    }

                    &:not(.home).router-link-active {
                        background-color: color(white);
                        color: color(black);
                    }
                }
            }

        }
    }
    
    @include desktop-only {
        @include position-fixed($top: 0, $left: 0, $right: 0, $z-index: 100);
        transition: all .4s ease-in-out;
        height: 160px;
        overflow: hidden;

        ul > li > a img {
            transition: all .4s ease-in-out;
        }    
        &.detached {
            @include padding(1);
            background-color: color(black);
            height: 80px;
            ul > li > a {
                img {
                    max-height: 50px;
                    max-width: 50px;
                    margin-right: 20px;
                    margin-left: 20px;
                }
            }
        }
    }
}