@import '../abstracts/include';

.content-list {
    .box {

        h2,
        p.description {
            @include margin(0);
            @include padding-x(2);
        }

        h2 {
            @include flex($justify: space-between, $align: center);
            @include padding-y(1);
            font-size: text-size(large);

            .date {
                font-size: text-size(small);
                font-weight: 400;
            }
        }

        p.description {
            @include font($size: text-size(medium), $weight: 400);
            @include padding-y(3, 4);
        }

        .testimonials.cols {
            @include margin-x(0);
            @include padding(2);
            background-color: color-black(semi-transparent);

            .col {
                @include padding-x(0);

                .box {
                    @include margin-bottom(0);
                    background: transparent;
                }
            }
        }
    }
}