@import '../abstracts/include';

footer {
    @include container();
    @include margin-y(10);

    p {
        @include margin(0, 0, 1);
        font-size: text-size(medium);
        text-align: center;
    }

    .links {
        @include margin(0);
        a {
            & + a {
                @include margin-left(1);
            }
            .fa {
                font-size: text-size(large);
            }
        }
    }
}