$max-chars: 6;
$base-wght: 200;
$wght-step: 100;

@include critical {
    .lensed {
        font-variation-settings: 'wght' #{$base-wght};
        text-transform: uppercase;

        &,
        > span {
            transform-style: preserve-3d;
            display: inline-block;
        }
        > span {
            &.c-empty {
                width: .15em;
            }
            @for $i from 1 through $max-chars {
                >span.c-#{$i} {
                    font-variation-settings: 'wght' #{$i * $wght-step + $base-wght};
                }
            }
        }
    }
}

@include non-critical {
    .lensed {
        @for $i from 1 through $max-chars {
            >span.c-#{$i} {
                animation: fatten-#{$i} 2s ease-in-out 1 forwards;
                &.repeat {
                    animation-direction: alternate;
                    animation-iteration-count: infinite;
                }
            }
        }

    }
    @for $i from 1 through $max-chars {
        @keyframes fatten-#{$i} {
            from {
                font-variation-settings: 'wght' #{$base-wght};
            }
    
            to {
                font-variation-settings: 'wght' #{$i * $wght-step + $base-wght};
            }
        }
    }
}
