@import '../abstracts/include';

.splash {
    @include container();
    color: color(white);
    @include margin(4, auto, 14);
    text-align: center;

    p {
        @include margin(0, auto, 4);
        @include font($size: text-size(xxx-large), $weight: 700, $height: 1.2);
        @include text-shadow-large();

        width: breakpoint(mobile);
        max-width: 100%;

        i {
            display: block;
            font-size: 1.2em;
        }
    }
    &.testimonial {
        p {
            font-size: text-size(xx-large);
            font-style: italic;
            &:before {
                @include font($size: text-size(xxx-large), $style: normal);
                @include margin-right(1);
                content: '\00bb';        
            }
        }
        cite {
            @include font($size: text-size(large), $weight: 500, $style: normal);
        }    
    }

    .btn {
        @include font($size: text-size(large), $weight: 500);
        background-color: color(white);
        color: color(black);
        border: none;

        text-shadow: none;

        .fa {
            font-size: text-size(larger);
        }

        &:hover {
            box-shadow: 0 0 $border-width-medium color-black(transparent);
        }
    }

    @include mobile-only {
        @include margin-y(3, 6);

        p {
            font-size: text-size(xx-large);
            line-height: 1;
        }

        .btn {
            font-size: text-size(large);
        }
    }
}
