@include critical {
    .main {
        min-height: 100vh;
        width: 100%;
    
        overflow-x: hidden;
        background-color: transparent;
    
        @include desktop-only {
            @include padding-top(16);
        }
    
        @include mobile-only {
            @include padding(2, 1);
        }
    }
    
    .content {
        @extend %container;
    }    
}
