@import '../../abstracts/include';

.content-list {
    .events-item {
        h2 .date { display: none; }
        h3 {
            @include padding(1, 2);
            background-color: color-black(transparent);
        }

        .expander {
            transition: max-height .2s ease-in-out;
            position: relative;
            max-height: 350px;
            overflow: hidden;
            &:after {
                position: absolute;
                content: '';
                height: 200px;
                width: 100%;
                bottom: 0;
                left: 0;
                background: linear-gradient(color-black(fully-transparent) 0%, color-black(opaque) 100%);
            }
            button {
                position: absolute;
                bottom: 20px;
                padding: 20px;
                left: 50%;
                transform: translateX(-50%);
                z-index: 999;
            }
            &.active {
                max-height: 1500px;
                &:after, button {
                    display: none;
                }

            }
        }
    }
}