@import '../../abstracts/include';

.content-list {
    .photo {
        line-height: 0;
        .image > a {
            img, .fa {
                @include transition($speed: medium);
                @include position-absolute-centered();
            }
            img {
                min-width: 100%;
                max-width: 120%;
            }
            .fa {
                display: block;
                font-size: text-size(xx-large);
                opacity: 0;
            }
            &:hover {
                img {
                    filter: brightness(0.5);
                }
                .fa {
                    opacity: 1;
                }
            }
        }
    }
}
