@import '../../abstracts/include';

.content-list {
    @include desktop-only {
        .col.instagram {
            flex-basis: 50%;
            max-width: 50%;
        }    
    }
    .video {
        .video-embed {
            iframe, video {
                background-color: color-black(opaque);
                width: 100%;
                max-width: 100%;
            }
            iframe {
                height: 350px;
            }
            video {
                height: 250px;
            }
        }
        .image-icon {
            $image-icon-size: 36px;
            @include margin-right(1);
        
            display: inline-block;
            overflow: hidden;
            border-radius: 50%;
            &, & img {
                width: $image-icon-size;
                height: $image-icon-size;
            }
        }
        .related.releases {
            @include padding(3, 2, 4);
            @include flex($justify: flex-start, $align: center);
            background-color: color-black(transparent);
    
            h3, a {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                & + a {
                    @include margin-left(2);
                }
            }
        }    
    }
}