@import '../../abstracts/include';

.videos {
    .video-embed {
        iframe {
            width: 100%;
            max-width: 100%;
            height: 400px;
        }
    }
    .image-icon {
        $image-icon-size: 36px;
        @include margin-right(1);
    
        display: inline-block;
        overflow: hidden;
        border-radius: 50%;
        &, & img {
            width: $image-icon-size;
            height: $image-icon-size;
        }
    }
    .related.releases {
        @include padding(3, 2, 4);
        @include flex($justify: flex-start, $align: center);
        background-color: color-black(transparent);

        h3, a {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            & + a {
                @include margin-left(2);
            }
        }
    }
}