html,
body,
#app {
    @include padding(0);
    @include margin(0);
    @include font($font-body, $size: 20px, $weight: 400, $height: 1.2);
    @include text-shadow-default();

    width: 100%;
    background-color: transparent;
    color: color(white);

    @include mobile-only() {
        font-size: 18px;
    }
}

body {
    background: color(black);
    background-attachment: fixed;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;

    @include mobile-only {
        background-size: auto 100vh;
    }
}

* {
    box-sizing: border-box;
}

a,
a:active {
    @include font($weight: 500, $decoration: none);
    @include transition($speed: fast);

    color: color(white);

    &:hover {
        color: color(focus);
    }
}

h1,
h2,
h3 {
    font-weight: 700;
    text-transform: lowercase;

    .fa {
        @include margin-right(.5);
        font-size: text-size(smaller);
        display: inline-block;
    }
}

h1 {
    @include font($size: xx-large);
}
h2 {
    font-size: text-size(x-large);
}
a, .btn {
    cursor: pointer;
}

.btn {
    @include flex($inline: true, $align: center);
    @include padding(.75, 1, $base: 1em);
    @include font($size: text-size(medium), $height: 1, $decoration: none);
    @include transition($speed: fast);

    border: $border-width-min solid color(white);

    &+.btn {
        @include margin-left(2);
    }

    .fa {
        margin-right: .333em;
        font-size: text-size(larger);
    }

    &.solid {
        background-color: color(white);
        color: color(black);
        &.inverted {
            background-color: color(black);
            color: color(white);
        }
    }

    &:hover {
        transform: translateY(-1px);
    }
}
.shiny {
    position: relative;
    overflow: hidden;
    z-index: 0;
    &:after {
        @include position-absolute($top: 0, $left: 0);
        content: '';
        display: block;

        width: 0;
        height: 100%;

        opacity: 0;
        background: color(white);
        box-shadow: 0 0 size(6) size(3) color(white);

        animation: shine 12s linear infinite;
        animation-delay: 2s;
        z-index: 1;
    }
}


@each $name, $color in $colors {
    $hover-color: scale-color($color, $lightness: -7.5%);

    a.#{$name},
    .btn.#{$name} {

        & .fa,
        &:hover {
            color: $color;
        }
    }

    .btn.#{$name} {
        &.solid {
            &:not(.inverted) {
                background-color: color(white);
                color: $color;

                .fa {
                    color: $color;
                }
            }
            &.inverted {
                background-color: $color;
                color: color(white);

                .fa {
                    color: color(white);
                }

                &:hover {
                    background-color: $hover-color;
                }
            }    
            &:hover {
                $shadow-size: size(1.5);
                box-shadow: size(1) size(1) size(2) color-black(semi-transparent);
            }
        }
        &:not(.solid):hover {
            color: $hover-color;
            border-color: $color;
        }
    }
}

.hidden {
    display: none;
}


.loading {
    animation: appear speed(slowest) ease-out both;
}
.loading-container {
    @include transition($speed: slow);
    transform-origin: top;

    &.loading {
        transform: scaleY(0);
        opacity: 0;
    }
}

@keyframes appear {
    0% {
        filter: blur(25px) brightness(0.5);
        opacity: 0;
    }

    100% {
        filter: blur(5px) brightness(1);
        opacity: 1;
    }
}
@keyframes shine {
    from {
        transform: skewX(10deg);
        opacity: 0;
        left: -20%;
    }

    5% {
        opacity: .3;
    }

    10% {
        transform: skewX(-15deg);
        opacity: 0;
        left: 120%;
    }
    to { }
}
