@mixin max-w($w) {
    flex-basis: percentage($w);
    max-width: percentage($w);
}
@include critical {
    $container-margin: $gutter-width / 2;

    .cols {
        @include flex($direction: row, $justify: stretch, $wrap: wrap);
        margin-right: -$container-margin;
        margin-left: -$container-margin;


        .col {
            @include flex($direction: column, $align: stretch, $justify: stretch);
            padding-left: $container-margin;
            padding-right: $container-margin;
            flex-grow: 1;

            @include mobile-only() {
                width: 100%;
            }
        }

        @for $n from 2 through 6 {
            &.cols-#{$n} .col {
                $w: 1 / $n;
                $mw: 1 / ($n - 1);
                @include max-w($w);

                @include mobile-only {
                    @include max-w($mw);
                }

                @for $c from 2 through $n {
                    &.col-#{$c} {
                        @include max-w($w * $c);

                        @include mobile-only {
                            @include max-w($mw * $c);
                        }
                    }
                }
            }
        }
    }
}