@import 'include',
'partials/layout',
'partials/links',
'partials/boxes',
'partials/navigation';

html,
body,
#app {
    @include padding(0);
    @include margin(0);
    @include font($font-body, $size: 20px, $weight: 400, $height: 1.2);

    background-color: color(black);
    text-shadow: 2px 2px rgba(color(black), .5);

    @include mobile-only() {
        font-size: 18px;
    }
}

* {
    box-sizing: border-box;
}

a,
a:active {
    @include font($weight: 500, $decoration: none);

    color: color(white);
    transition: all .2s;

    &:hover {
        color: color(focus);
    }
}

h1,
h2,
h3 {
    font-weight: 700;

    .fa {
        @include margin-right(.5);
        font-size: map-get($text-size, smaller);
        display: inline-block;
    }
}

h1 {
    @include font($size: 2.5rem, $transform: uppercase);
}

h2 {
    font-size: map-get($text-size, x-large);
}

.btn {
    @include flex($inline: true, $align: center);
    @include padding(.75, 1, $base: 1em);
    @include font($size: map-get($text-size, medium), $height: 1, $decoration: none);

    border: 1px solid color(white);

    transition: all .2s;

    &+.btn {
        @include margin-left(2);
    }

    .fa {
        @include margin-right(.5);
        font-size: map-get($text-size, large);
    }

    &:hover {
        transform: translateY(-1px);
    }
}

@each $name,
$color in $colors {

    a.#{$name},
    .btn.#{$name} {

        & .fa,
        &:hover {
            color: $color;
        }
    }

    .btn.#{$name}:hover {
        border-color: $color;
    }
}

.hidden {
    display: none;
}

.flex-split {
    @include flex($direction: row, $justify: space-between, $align: flex-start);

    &.fifty-fifty> {

        div,
        p {
            width: 49%;
        }
    }

    &.sixty-forty> {

        div,
        p {
            &:first-child {
                width: 60%;
            }

            &:last-child {
                width: 39%;
            }
        }
    }

    &.seventy-thirty> {

        div,
        p {
            &:first-child {
                width: 69%;
            }

            &:last-child {
                width: 30%;
            }
        }
    }

    @include mobile-only() {
        flex-direction: column;
        &> {
            div,
            p {
                width: auto !important;
            }
        }
    }
}